* {
  font-family: 'Times New Roman', Times, serif;

}

body {
  background-color: #e5f0ff94;
}


#hero-text {
  font-size: 26px;
}

.nav-title {

  color: #ffffff;
}

.nav-title:hover {
  transition: 0.5s;
  color: #2C8954;
}

.nav-link-custom {
  font-size: 18px;
  color: #ffffff !important;
}

.nav-link-custom:hover {
  transition: 0.5s;
  color: #2C8954 !important;

}


.container-fluid {
  background-color: rgb(255, 255, 255);
}


.track-bttn {
  margin-top: 50px;
  margin-bottom: 20px;
}






@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.animated-fade-in {
  animation: 1.5s ease-out 0s 1 fadeIn;
}

.sign-box {
  padding: 15px;
}


.login-box {
  padding: 15px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.stylish-shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border: none;
}


.custom-heading {
  color: #007bff;

  font-weight: 500;
}


.custom-btn {
  background-color: #007bff;

  border: none;
}

.custom-btn:hover {
  background-color: #0056b3;

}


.custom-link {
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

.custom-link:hover {
  color: #0056b3;

}



#custom-form-control {

  width: 100%;

}

#custom-form-control input {
  border: 1px solid #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #198A61;
  padding: 20px;
}

#member-section {
  margin-top: 50px;
  margin-bottom: 50px;


}

.header-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: bold;

}

.header-content {
  font-size: 23px;
  font-weight: 500;
  text-align: justify;

}

#hero-section {
  height: 90vh;
  background: linear-gradient(120deg, #2b5876 0%, #4e4376 100%);
  color: #ffffff;


}





#hero-section h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  padding-top: 200px;
  margin-bottom: 80px;
}

.Features-section {
  background-color: #E5F0FF;
  padding-bottom: 30px;

}

.Features-section h1 {
  margin-bottom: 70px;
  font-size: 60px;
  font-weight: bold;
}

.Features-section h3 {
  font-size: 30px;
  font-weight: bold;
}

.Features-section p {
  margin-top: 20px;
  font-size: 18px;

}

.Features-content {
  background-color: #F6FAFF;
  padding: 40px;
  border-radius: 10px;
}

.Features-content:hover {
  transition: 0.25s;
  background-color: #2C8954;
  color: #F6FAFF;
}


.FAQ-section h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.FAQ-section h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 25px;
}

.faq-section {
  background-color: #E5F0FF;
  padding-bottom: 50px;
}

.accordion-body {
  background-color: #f7fbff;
}

.footer-section h5 {
  font-size: 30px;
  font-weight: bold;
}

.dashboard-container {
  padding-top: 50px;
}

.dashboard-container h1 {
  font-size: 60px;
  font-weight: bold;

}

.traincart-section {
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;

}

.beautiful-border {
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}