#hero-text {
  font-size: 26px;
}

.nav-title {

  color: #ffffff;
}

.nav-title:hover {
  transition: 0.5s;
  color: #ffcc00;
}

.nav-link-custom {
  font-size: 18px;
  color: #ffffff !important;
}

.nav-link-custom:hover {
  transition: 0.5s;
  color: #ffcc00 !important;

}


.container-fluid {
  background-color: rgb(255, 255, 255);
}

.header-title {

  margin-bottom: 30px;
  font-size: 70px;

}

.header-content {
  font-size: 23px;
  font-weight: 500;
  text-align: justify;

}

.track-bttn {
  margin-top: 50px;
  margin-bottom: 20px;
}

.mission-title {
  font-size: 70px;
  text-align: center;
  margin-bottom: 30px;
}

.mission-content {
  font-size: 23px;
  font-weight: 500;
  text-align: justify;
}





@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.animated-fade-in {
  animation: 2.5s ease-out 0s 1 fadeIn;
}

.sign-box {
  padding: 15px;
}


.login-box {
  padding: 15px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.stylish-shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border: none;
}


.custom-heading {
  color: #007bff;

  font-weight: 500;
}


.custom-btn {
  background-color: #007bff;

  border: none;
}

.custom-btn:hover {
  background-color: #0056b3;

}


.custom-link {
  color: #007bff;
  transition: color 0.2s ease-in-out;
}

.custom-link:hover {
  color: #0056b3;

}